#hexagonContainer {
    position: absolute;
    bottom: 0px;
    right: calc(50% - 275px);
    bottom: 200px;


    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

#hexagon {
    width: 100px;
    height: 55px;
    background: red;
    position: relative;
    opacity: .4;
    z-index:99;


    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    animation: rotation 10s infinite,
                hexagonAnimation 10s infinite;
    -webkit-animation: rotation 10s infinite,
                      hexagonAnimation 10s infinite;
    -moz-animation:rotation 10s infinite,
                    hexagonAnimation 10s infinite;
    -o-animation:rotation 10s infinite,
                  hexagonAnimationn 10s infinite;
}

#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
    z-index:99;


    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    inerhit:animation;
    inherit:-webkit-animation;
    inherit:-moz-animation;

    animation:hexagonBottomAnimation 10s infinite !important;
    -webkit-animation:hexagonBottomAnimation 10s infinite !important;
    -moz-animation: hexagonBottomAnimation 10s infinite !important;
    -o-animation:hexagonBottomAnimation 10s infinite !important;
}

#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index:99;

    inerhit:animation;
    inherit:-webkit-animation;
    inherit:-moz-animation;

    animation: hexagonTopAnimation 10s infinite !important;
    -webkit-animation:hexagonTopAnimation 10s infinite !important;
    -moz-animation:hexagonTopAnimation 10s infinite !important;
    -o-animation:hexagonTopAnimationn 10s infinite !important;
}

#hexagon:hover {
  animation: rotationHover 1s infinite,
  hexagonAnimation 10s infinite;

  -webkit-animation: rotationHover 1s infinite,
  hexagonAnimation 10s infinite;

  -moz-animation: rotationHover 1s infinite,
  hexagonAnimation 10s infinite;

  -o-animation: rotationHover 1s infinite,
  hexagonAnimation 10s infinite;

  /*use this for chrome, only works in one browser at a time due to bugs (and has to be written differently for each)*/
  -webkit-transform:rotate3d(1,1,1,360deg) !important;


  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

#hexagon:before:hover {

  animation: rotationHover 1s infinite,
  hexagonBottomAnimation 10s infinite !important;

  -webkit-animation: rotationHover 1s infinite,
  hexagonBottomAnimation 10s infinite !important;

  -moz-animation: rotationHover 1s infinite,
  hexagonBottomAnimation 10s infinite !important;

  -o-animation: rotationHover 1s infinite,
  hexagonBottomAnimation 10s infinite !important;

  /*use this for chrome, only works in one browser at a time due to bugs (and has to be written differently for each)*/
  -webkit-transform:rotate3d(1,1,1,360deg) !important;


  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

#hexagon:after:hover {
  animation: rotationHover 1s infinite,
  hexagonTopAnimation 10s infinite !important;

  -webkit-animation: rotationHover 1s infinite,
  hexagonTopAnimation 10s infinite !important;

  -moz-animation: rotationHover 1s infinite,
  hexagonTopAnimation 10s infinite !important;

  -o-animation: rotationHover 1s infinite,
  hexagonTopAnimation 10s infinite !important;

  /*use this for chrome*/
  -webkit-transform:rotateY(360deg) !important;



  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

@keyframes hexagonAnimation {
    0% {
        background: #8300FF;
    }
    10% {
        background: #0030FF;
    }
    20% {
        background: #000BFF;
    }
    30% {
        background: #00FFD8;
    }
    40% {
        background: #1EFF00;
    }
    50% {
        background: #FF9000;
    }
    60% {
        background: #FF5D00;
    }
    70% {
        background: red;
    }
    80% {
        background: #FF0075;
    }
    90% {
        background: #00FF6B;
    }
    100% {
        background: #FF00EF;
    }
}

@-webkit-keyframes hexagonAnimation {
    0% {
        background: #8300FF;
    }
    10% {
        background: #0030FF;
    }
    20% {
        background: #000BFF;
    }
    30% {
        background: #00FFD8;
    }
    40% {
        background: #1EFF00;
    }
    50% {
        background: #FF9000;
    }
    60% {
        background: #FF5D00;
    }
    70% {
        background: red;
    }
    80% {
        background: #FF0075;
    }
    90% {
        background: #00FF6B;
    }
    100% {
        background: #FF00EF;
    }
}

@-moz-keyframes hexagonAnimation {
    0% {
        background: #8300FF;
    }
    10% {
        background: #0030FF;
    }
    20% {
        background: #000BFF;
    }
    30% {
        background: #00FFD8;
    }
    40% {
        background: #1EFF00;
    }
    50% {
        background: #FF9000;
    }
    60% {
        background: #FF5D00;
    }
    70% {
        background: red;
    }
    80% {
        background: #FF0075;
    }
    90% {
        background: #00FF6B;
    }
    100% {
        background: #FF00EF;
    }
}

@keyframes hexagonTopAnimation {
    0% {
        border-top: 25px solid #8300FF;
    }
    10% {
        border-top: 25px solid #0030FF;
    }
    20% {
        border-top: 25px solid #000BFF;
    }
    30% {
        border-top:25px solid #00FFD8;
    }
    40% {
        border-top:25px solid #1EFF00;
    }
    50% {
        border-top:25px solid #FF9000;
    }
    60% {
        border-top:25px solid #FF5D00;
    }
    70% {
        border-top:25px solid red;
    }
    80% {
        border-top:25px solid #FF0075;
    }
    90% {
        border-top:25px solid #00FF6B;
    }
    100% {
        border-top:25px solid #FF00EF;
    }
}

@-webkit-keyframes hexagonTopAnimation {
  0% {
      border-top: 25px solid #8300FF;
  }
  10% {
      border-top: 25px solid #0030FF;
  }
  20% {
      border-top: 25px solid #000BFF;
  }
  30% {
      border-top:25px solid #00FFD8;
  }
  40% {
      border-top:25px solid #1EFF00;
  }
  50% {
      border-top:25px solid #FF9000;
  }
  60% {
      border-top:25px solid #FF5D00;
  }
  70% {
      border-top:25px solid red;
  }
  80% {
      border-top:25px solid #FF0075;
  }
  90% {
      border-top:25px solid #00FF6B;
  }
  100% {
      border-top:25px solid #FF00EF;
  }
}


@-moz-keyframes hexagonTopAnimation {
  0% {
      border-top: 25px solid #8300FF;
  }
  10% {
      border-top: 25px solid #0030FF;
  }
  20% {
      border-top: 25px solid #000BFF;
  }
  30% {
      border-top:25px solid #00FFD8;
  }
  40% {
      border-top:25px solid #1EFF00;
  }
  50% {
      border-top:25px solid #FF9000;
  }
  60% {
      border-top:25px solid #FF5D00;
  }
  70% {
      border-top:25px solid red;
  }
  80% {
      border-top:25px solid #FF0075;
  }
  90% {
      border-top:25px solid #00FF6B;
  }
  100% {
      border-top:25px solid #FF00EF;
  }
}

@keyframes hexagonBottomAnimation {
    0% {
        border-bottom:25px solid #8300FF;
    }
    10% {
        border-bottom:25px solid #0030FF;
    }
    20% {
        border-bottom:25px solid #000BFF;
    }
    30% {
        border-bottom:25px solid #00FFD8;
    }
    40% {
        border-bottom:25px solid #1EFF00;
    }
    50% {
        border-bottom:25px solid #FF9000;
    }
    60% {
        border-bottom:25px solid #FF5D00;
    }
    70% {
        border-bottom:25px solid red;
    }
    80% {
        border-bottom:25px solid #FF0075;
    }
    90% {
        border-bottom:25px solid #00FF6B;
    }
    100% {
        border-bottom:25px solid  #FF00EF;
    }
}


@-moz-keyframes hexagonBottomAnimation {
  0% {
      border-bottom:25px solid #8300FF;
  }
  10% {
      border-bottom:25px solid #0030FF;
  }
  20% {
      border-bottom:25px solid #000BFF;
  }
  30% {
      border-bottom:25px solid #00FFD8;
  }
  40% {
      border-bottom:25px solid #1EFF00;
  }
  50% {
      border-bottom:25px solid #FF9000;
  }
  60% {
      border-bottom:25px solid #FF5D00;
  }
  70% {
      border-bottom:25px solid red;
  }
  80% {
      border-bottom:25px solid #FF0075;
  }
  90% {
      border-bottom:25px solid #00FF6B;
  }
  100% {
      border-bottom:25px solid  #FF00EF;
  }
}
@-webkit-keyframes hexagonBottomAnimation {
  0% {
      border-bottom:25px solid #8300FF;
  }
  10% {
      border-bottom:25px solid #0030FF;
  }
  20% {
      border-bottom:25px solid #000BFF;
  }
  30% {
      border-bottom:25px solid #00FFD8;
  }
  40% {
      border-bottom:25px solid #1EFF00;
  }
  50% {
      border-bottom:25px solid #FF9000;
  }
  60% {
      border-bottom:25px solid #FF5D00;
  }
  70% {
      border-bottom:25px solid red;
  }
  80% {
      border-bottom:25px solid #FF0075;
  }
  90% {
      border-bottom:25px solid #00FF6B;
  }
  100% {
      border-bottom:25px solid  #FF00EF;
  }
}
