
#pentagonContainer{
  position: absolute;
  bottom: 0px;
  left: calc(50% - 305px);
  bottom: 175px;;

  -webkit-transition:all 2s ease;
  -moz-transition:all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
#pentagon{
  position: relative;
  width: 72px;
  border-width: 60px 19px 0;
  border-style: solid;
  border-color: #8300FF transparent;
  opacity:.4;
  z-index:99;

  -webkit-transition:all 2s ease;
  -moz-transition:all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;


  animation: rotation 10s infinite,
              pentagonAnimation 10s infinite;
  -webkit-animation:rotation 10s infinite,
                pentagonAnimation 10s infinite;
  -moz-animation: rotation 10s infinite,
                  pentagonAnimation 10s infinite;
  -o-animation: rotation 10s infinite,
                pentagonAnimationn 10s infinite;



}

#pentagon:before {
  animation:
              pentagonTopAnimation 10s infinite !important;
  -webkit-animation:
                pentagonTopAnimation 10s infinite !important;;
  -moz-animation:
                  pentagonTopAnimation 10s infinite !important;
  -o-animation:
                pentagonTopAnimationn 10s infinite !important;


    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -115px;
    left: -18px;
    border-width: 0 55px 55px;
    border-style: solid;
    z-index:99;

    -webkit-transition:all 2s ease;
    -moz-transition:all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    inerhit:animation;
    inherit:-webkit-animation;
    inherit:-moz-animation;

  }




  #pentagon:hover{
    animation: rotationHover 1s infinite alternate,
    pentagonAnimation 10s infinite !important;

    -webkit-animation: rotationHover 1s infinite alternate,
    pentagonAnimation 10s infinite !important;

    -moz-animation: rotationHover 1s infinite alternate,
    pentagonAnimation 10s infinite !important;

    -o-animation: rotationHover 1s infinite alternate,
    pentagonAnimation 10s infinite !important;


    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    opacity:1;


    /*use this for chrome, only works in one browser at a time due to bugs (and has to be written differently for each)*/
      -webkit-transform:rotate3d(1,1,1,360deg) !important;

  }

  #pentagon:before:hover{
    animation: rotationHover 1s infinite alternate,
    pentagonTopAnimation 10s infinite !important;

    -webkit-animation: rotationHover 1s infinite alternate,
    pentagonTopAnimation 10s infinite !important;

    -moz-animation: rotationHover 1s infinite alternate,
    pentagonTopAnimation 10s infinite !important;

    -o-animation: rotationHover 1s infinite alternate,
    pentagonTopAnimation 10s infinite !important;


    /*use this for chrome, only works in one browser at a time due to bugs (and has to be written differently for each)*/
      -webkit-transform:rotate3d(1,1,1,360deg) !important;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    opacity:1;
  }




  @keyframes rotationHover{
    from {
      transform: rotateY(0deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
    to {
      transform: rotateY(360deg) !important;

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
  }
  @-webkit-keyframes rotationHover{
    from {
      transform: rotateY(360deg);

          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease;
          transition: all 2s ease;
      }
      to {
        transform: rotateY(360deg) !important;

          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease;
          transition: all 2s ease;
      }
    }
  }
  @-moz-keyframes rotationHover{
    from {
      transform: rotateY(0deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
    }
    to {
      transform: rotateY(360deg) !important;

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
    }
  }







  @keyframes rotation{
    from {
      transform: rotateY(0deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
    to {
      transform:rotateY(360deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
  }
  @-webkit-keyframes rotation{
    from {
      transform: rotateY(0deg);

          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease;
          transition: all 2s ease;
      }
      to {
        transform: rotateY(360deg);

          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease;
          transition: all 2s ease;
      }
    }
  }
  @-moz-keyframes rotation{
    from {
      transform: rotateY(0deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
    }
    to {
      transform: rotateY(360deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
    }
  }




  @keyframes pentagonAnimation{

    0% { border-color: #8300FF transparent;  }
    10% { border-color: #0030FF transparent;  }
    20%{ border-color: #000BFF transparent;   }
    30%  { border-color: #00FFD8 transparent; }
    40% { border-color: #1EFF00 transparent; }
    50% { border-color: #FF9000 transparent; }
    60% { border-color: #FF5D00 transparent; }
    70% { border-color: red transparent; }
    80% { border-color: #FF0075 transparent; }
    90% { border-color: #00FF6B transparent; }
    100% { border-color: #FF00EF transparent;  }
  }
  @-webkit-keyframes pentagonAnimation{

    0% { border-color: #8300FF transparent;  }
    10% { border-color: #0030FF transparent;  }
    20%{ border-color: #000BFF transparent;   }
    30%  { border-color: #00FFD8 transparent; }
    40% { border-color: #1EFF00 transparent; }
    50% { border-color: #FF9000 transparent; }
    60% { border-color: #FF5D00 transparent; }
    70% { border-color: red transparent; }
    80% { border-color: #FF0075 transparent; }
    90% { border-color: #00FF6B transparent; }
    100% { border-color: #FF00EF transparent;  }
  }

  @-moz-keyframes pentagonAnimation{

    0% { border-color: #8300FF transparent;  }
    10% { border-color: #0030FF transparent;  }
    20%{ border-color: #000BFF transparent;   }
    30%  { border-color: #00FFD8 transparent; }
    40% { border-color: #1EFF00 transparent; }
    50% { border-color: #FF9000 transparent; }
    60% { border-color: #FF5D00 transparent; }
    70% { border-color: red transparent; }
    80% { border-color: #FF0075 transparent; }
    90% { border-color: #00FF6B transparent; }
    100% { border-color: #FF00EF transparent;  }
  }

  @keyframes pentagonTopAnimation{

    0% { border-color:#8300FF transparent;  }
    10% { border-color:#0030FF transparent;  }
    20%{ border-color:#000BFF transparent;   }
    30%  { border-color:#00FFD8 transparent; }
    40% { border-color:#1EFF00 transparent; }
    50% { border-color:#FF9000 transparent; }
    60% { border-color:#FF5D00 transparent; }
    70% { border-color:red transparent; }
    80% { border-color:#FF0075 transparent; }
    90% { border-color: #00FF6B transparent; }
    100% { border-color:#FF00EF transparent;  }
  }
  @-webkit-keyframes pentagonTopAnimation{


        0% { border-color:#8300FF transparent;  }
        10% { border-color:#0030FF transparent;  }
        20%{ border-color:#000BFF transparent;   }
        30%  { border-color:#00FFD8 transparent; }
        40% { border-color:#1EFF00 transparent; }
        50% { border-color:#FF9000 transparent; }
        60% { border-color:#FF5D00 transparent; }
        70% { border-color:red transparent; }
        80% { border-color:#FF0075 transparent; }
        90% { border-color: #00FF6B transparent; }
        100% { border-color:#FF00EF transparent;  }
  }

  @-moz-keyframes pentagonTopAnimation{

        0% { border-color:#8300FF transparent;  }
        10% { border-color:#0030FF transparent;  }
        20%{ border-color:#000BFF transparent;   }
        30%  { border-color:#00FFD8 transparent; }
        40% { border-color:#1EFF00 transparent; }
        50% { border-color:#FF9000 transparent; }
        60% { border-color:#FF5D00 transparent; }
        70% { border-color:red transparent; }
        80% { border-color:#FF0075 transparent; }
        90% { border-color: #00FF6B transparent; }
        100% { border-color:#FF00EF transparent;  }
  }
