
#square{
  opacity:.4;
  position:absolute;
  left:calc(50% - 375px);
  bottom:310px;
  background-color:blue;
  height:100px;
  width:100px;
  z-index:99;


  -webkit-transition:all 2s ease;
  -moz-transition:all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;

animation: rotation 10s infinite,
            squareAnimation 10s infinite;
  -webkit-animation: rotation 10s infinite,
            squareAnimation 10s infinite;
  -moz-animation: rotation 10s infinite,
                  squareAnimation 10s infinite;
  -o-animation: rotation 10s infinite,
                squareAnimation 10s infinite;
}

#square:hover{

  animation: rotationHoverSquare 1s infinite,
            squareAnimation 10s infinite;
  -webkit-animation: rotationHoverSquare 1s infinite,
              squareAnimation 10s infinite;
  -moz-animation: rotationHoverSquare 1s infinite,
                  squareAnimation 10s infinite;
  -o-animation: rotationHoverSquare 1s infinite,
                squareAnimation 10s infinite;

  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;

  opacity:1;
  background-color:white;

  /*use this for chrome, only works in one browser at a time due to bugs (and has to be written differently for each)*/
    -webkit-transform:rotate3d(1,1,1,360deg) !important;

}




@keyframes rotationHoverSquare{
  from {
    transform: rotateY(0deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
  to {
    transform: rotateY(360deg) !important;

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
}
@-webkit-keyframes rotationHoverSquare{
  from {
    transform: rotateY(360deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
    to {
      transform: rotateY(360deg) !important;

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
  }
}
@-moz-keyframes rotationHoverSquare{
  from {
    transform: rotateY(0deg);

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  to {
    transform: rotateY(360deg) !important;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
}







@keyframes rotation{
  from {
    transform: rotateY(0deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
  to {
    transform:rotateY(360deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
}
@-webkit-keyframes rotation{
  from {
    transform: rotateY(0deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
    to {
      transform: rotateY(360deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
  }
}
@-moz-keyframes rotation{
  from {
    transform: rotateY(0deg);

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  to {
    transform: rotateY(360deg);

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
}





@keyframes squareAnimation{

  0% { background-color: #FF5D00; }
  10% { background-color: red; }
  20% { background-color: #FF0075; }
  30% { background-color: #00FF6B; }
  40% { background-color: #FF00EF;  }
  50% { background-color: #8300FF;  }
  60% { background-color: #0030FF;  }
  70%{ background-color: #000BFF;   }
  80%  { background-color: #00FFD8; }
  90% { background-color: #1EFF00; }
  100% { background-color: #FF9000; }


}

@-webkit-keyframes squareAnimation{

  0% { background-color: #FF5D00; }
  10% { background-color: red; }
  20% { background-color: #FF0075; }
  30% { background-color: #00FF6B; }
  40% { background-color: #FF00EF;  }
  50% { background-color: #8300FF;  }
  60% { background-color: #0030FF;  }
  70%{ background-color: #000BFF;   }
  80%  { background-color: #00FFD8; }
  90% { background-color: #1EFF00; }
  100% { background-color: #FF9000; }

}

@-moz-keyframes squareAnimation{
  0% { background-color: #FF5D00; }
  10% { background-color: red; }
  20% { background-color: #FF0075; }
  30% { background-color: #00FF6B; }
  40% { background-color: #FF00EF;  }
  50% { background-color: #8300FF;  }
  60% { background-color: #0030FF;  }
  70%{ background-color: #000BFF;   }
  80%  { background-color: #00FFD8; }
  90% { background-color: #1EFF00; }
  100% { background-color: #FF9000; }

}
