#triangle{
  opacity: .4;
  position: absolute;
  height: 0;
  width: 0px;
  left: calc(50% - 300px);
  bottom: 475px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  z-index: 99;

  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;

  animation: rotation 10s infinite,
              triangleAnimation 10s infinite;
  -webkit-animation: rotation 10s infinite,
                     triangleAnimation 10s infinite,
  -moz-animation: rotation 10s infinite,
                  triangleAnimation 10s infinite,
  -o-animation: rotation 10s infinite,
                triangleAnimation 10s infinite;

}


#triangle:hover{
  animation: rotationHover 1s infinite alternate,
              triangleAnimation 10s infinite;
  -webkit-animation: rotationHover 1s infinite alternate,
                    triangleAnimation 10s infinite;
  -moz-animation: rotationHover 1s infinite alternate,
                  triangleAnimation 10s infinite;
  -o-animation: rotationHover 1s infinite alternate,
                triangleAnimation 10s infinite;

  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;



  /*use this for chrome, only works in one browser at a time due to bugs (and has to be written differently for each)*/
    -webkit-transform:rotate3d(1,1,1,360deg) !important;


  opacity:1;
  border-bottom: 100px solid white;

}




@keyframes rotationHover{
  from {
    transform: rotateY(0deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
  to {
    transform: rotateY(360deg) !important;

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
}
@-webkit-keyframes rotationHover{
  from {
    transform: rotateY(360deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
    to {
      transform: rotateY(360deg) !important;

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
  }
}
@-moz-keyframes rotationHover{
  from {
    transform: rotateY(0deg);

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  to {
    transform: rotateY(360deg) !important;

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
}







@keyframes rotation{
  from {
    transform: rotateY(0deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
  to {
    transform:rotateY(360deg);

      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -o-transition: all 2s ease;
      transition: all 2s ease;
  }
}
@-webkit-keyframes rotation{
  from {
    transform: rotateY(0deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
    to {
      transform: rotateY(360deg);

        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }
  }
}
@-moz-keyframes rotation{
  from {
    transform: rotateY(0deg);

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  to {
    transform: rotateY(360deg);

    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
}











@keyframes triangleAnimation{

  0%  { border-bottom: 100px solid #00FFD8; }
  10% { border-bottom: 100px solid #1EFF00; }
  20% { border-bottom: 100px solid #FF9000; }
  30% { border-bottom: 100px solid #FF5D00; }
  40% { border-bottom: 100px solid red; }
  50% { border-bottom: 100px solid #FF0075; }
  60% { border-bottom: 100px solid #00FF6B; }
  70% { border-bottom: 100px solid #FF00EF;  }
  80% { border-bottom: 100px solid #8300FF;  }
  90% { border-bottom: 100px solid #0030FF;  }
  100%{ border-bottom: 100px solid #000BFF;   }
}
@-webkit-keyframes triangleAnimation{

  0%  { border-bottom: 100px solid #00FFD8; }
  10% { border-bottom: 100px solid #1EFF00; }
  20% { border-bottom: 100px solid #FF9000; }
  30% { border-bottom: 100px solid #FF5D00; }
  40% { border-bottom: 100px solid red; }
  50% { border-bottom: 100px solid #FF0075; }
  60% { border-bottom: 100px solid #00FF6B; }
  70% { border-bottom: 100px solid #FF00EF;  }
  80% { border-bottom: 100px solid #8300FF;  }
  90% { border-bottom: 100px solid #0030FF;  }
  100%{ border-bottom: 100px solid #000BFF;   }
}
@-moz-keyframes triangleAnimation{

  0%  { border-bottom: 100px solid #00FFD8; }
  10% { border-bottom: 100px solid #1EFF00; }
  20% { border-bottom: 100px solid #FF9000; }
  30% { border-bottom: 100px solid #FF5D00; }
  40% { border-bottom: 100px solid red; }
  50% { border-bottom: 100px solid #FF0075; }
  60% { border-bottom: 100px solid #00FF6B; }
  70% { border-bottom: 100px solid #FF00EF;  }
  80% { border-bottom: 100px solid #8300FF;  }
  90% { border-bottom: 100px solid #0030FF;  }
  100%{ border-bottom: 100px solid #000BFF;   }

}
