@-webkit-keyframes roundandround {
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes roundandround {
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}
@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}
@keyframes show {
  to {
    opacity: 1;
  }
}
/* line 13, sphere.scss */
body {
  background-color: #000000;
}

/* line 16, sphere.scss */
.theCircle {
  width: 600px;
  height: 600px;
  margin: 2% auto;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

/* line 22, sphere.scss */
.wrapper {
  width: 100%;
  height: 100%;
  -webkit-transform: rotateX(45deg) rotateY(45deg);
          transform: rotateX(45deg) rotateY(45deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* line 28, sphere.scss */
.ball {
  position: relative;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: roundandround 7.5s 1.3s infinite linear;
          animation: roundandround 7.5s 1.3s infinite linear;
  -webkit-transition: .5s all ease-in;
          transition: .5s all ease-in;
}

/* line 37, sphere.scss */
.ball .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 6px;
  border-style: dashed;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: show 0.75s forwards ease-in-out;
          animation: show 0.75s forwards ease-in-out;
  -webkit-transition: .5s all ease-in;
          transition: .5s all ease-in;
}

/* line 50, sphere.scss */
.changeHeight {
  height: 5% !important;
}

/* line 53, sphere.scss */
.sliceHover {
  border-style: groove !important;
  border-radius: 100% !important;
}

/* line 65, sphere.scss */
.slice:nth-child(2) {
  -webkit-transform: rotateY(4deg);
          transform: rotateY(4deg);
  color: red;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(3) {
  -webkit-transform: rotateY(8deg);
          transform: rotateY(8deg);
  color: #ff1e00;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(4) {
  -webkit-transform: rotateY(12deg);
          transform: rotateY(12deg);
  color: #ff3c00;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(5) {
  -webkit-transform: rotateY(16deg);
          transform: rotateY(16deg);
  color: #ff5900;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(6) {
  -webkit-transform: rotateY(20deg);
          transform: rotateY(20deg);
  color: #ff7700;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(7) {
  -webkit-transform: rotateY(24deg);
          transform: rotateY(24deg);
  color: #ff9500;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(8) {
  -webkit-transform: rotateY(28deg);
          transform: rotateY(28deg);
  color: #ffb300;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(9) {
  -webkit-transform: rotateY(32deg);
          transform: rotateY(32deg);
  color: #ffd000;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(10) {
  -webkit-transform: rotateY(36deg);
          transform: rotateY(36deg);
  color: #ffee00;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(11) {
  -webkit-transform: rotateY(40deg);
          transform: rotateY(40deg);
  color: #f2ff00;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(12) {
  -webkit-transform: rotateY(44deg);
          transform: rotateY(44deg);
  color: #d4ff00;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(13) {
  -webkit-transform: rotateY(48deg);
          transform: rotateY(48deg);
  color: #b7ff00;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(14) {
  -webkit-transform: rotateY(52deg);
          transform: rotateY(52deg);
  color: #99ff00;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(15) {
  -webkit-transform: rotateY(56deg);
          transform: rotateY(56deg);
  color: #7bff00;
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(16) {
  -webkit-transform: rotateY(60deg);
          transform: rotateY(60deg);
  color: #5eff00;
  -webkit-animation-delay: 2.9s;
          animation-delay: 2.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(17) {
  -webkit-transform: rotateY(64deg);
          transform: rotateY(64deg);
  color: #40ff00;
  -webkit-animation-delay: 3.1s;
          animation-delay: 3.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(18) {
  -webkit-transform: rotateY(68deg);
          transform: rotateY(68deg);
  color: #22ff00;
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(19) {
  -webkit-transform: rotateY(72deg);
          transform: rotateY(72deg);
  color: #04ff00;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(20) {
  -webkit-transform: rotateY(76deg);
          transform: rotateY(76deg);
  color: #00ff19;
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(21) {
  -webkit-transform: rotateY(80deg);
          transform: rotateY(80deg);
  color: #00ff37;
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(22) {
  -webkit-transform: rotateY(84deg);
          transform: rotateY(84deg);
  color: #00ff55;
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(23) {
  -webkit-transform: rotateY(88deg);
          transform: rotateY(88deg);
  color: #00ff73;
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(24) {
  -webkit-transform: rotateY(92deg);
          transform: rotateY(92deg);
  color: #00ff91;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(25) {
  -webkit-transform: rotateY(96deg);
          transform: rotateY(96deg);
  color: #00ffae;
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(26) {
  -webkit-transform: rotateY(100deg);
          transform: rotateY(100deg);
  color: #00ffcc;
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(27) {
  -webkit-transform: rotateY(104deg);
          transform: rotateY(104deg);
  color: #00ffea;
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(28) {
  -webkit-transform: rotateY(108deg);
          transform: rotateY(108deg);
  color: #00f6ff;
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(29) {
  -webkit-transform: rotateY(112deg);
          transform: rotateY(112deg);
  color: #00d9ff;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(30) {
  -webkit-transform: rotateY(116deg);
          transform: rotateY(116deg);
  color: #00bbff;
  -webkit-animation-delay: 5.7s;
          animation-delay: 5.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(31) {
  -webkit-transform: rotateY(120deg);
          transform: rotateY(120deg);
  color: #009dff;
  -webkit-animation-delay: 5.9s;
          animation-delay: 5.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(32) {
  -webkit-transform: rotateY(124deg);
          transform: rotateY(124deg);
  color: #007fff;
  -webkit-animation-delay: 6.1s;
          animation-delay: 6.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(33) {
  -webkit-transform: rotateY(128deg);
          transform: rotateY(128deg);
  color: #0062ff;
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(34) {
  -webkit-transform: rotateY(132deg);
          transform: rotateY(132deg);
  color: #0044ff;
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(35) {
  -webkit-transform: rotateY(136deg);
          transform: rotateY(136deg);
  color: #0026ff;
  -webkit-animation-delay: 6.7s;
          animation-delay: 6.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(36) {
  -webkit-transform: rotateY(140deg);
          transform: rotateY(140deg);
  color: #0008ff;
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(37) {
  -webkit-transform: rotateY(144deg);
          transform: rotateY(144deg);
  color: #1500ff;
  -webkit-animation-delay: 7.1s;
          animation-delay: 7.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(38) {
  -webkit-transform: rotateY(148deg);
          transform: rotateY(148deg);
  color: #3300ff;
  -webkit-animation-delay: 7.3s;
          animation-delay: 7.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(39) {
  -webkit-transform: rotateY(152deg);
          transform: rotateY(152deg);
  color: #5100ff;
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(40) {
  -webkit-transform: rotateY(156deg);
          transform: rotateY(156deg);
  color: #6e00ff;
  -webkit-animation-delay: 7.7s;
          animation-delay: 7.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(41) {
  -webkit-transform: rotateY(160deg);
          transform: rotateY(160deg);
  color: #8c00ff;
  -webkit-animation-delay: 7.9s;
          animation-delay: 7.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(42) {
  -webkit-transform: rotateY(164deg);
          transform: rotateY(164deg);
  color: #aa00ff;
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(43) {
  -webkit-transform: rotateY(168deg);
          transform: rotateY(168deg);
  color: #c800ff;
  -webkit-animation-delay: 8.3s;
          animation-delay: 8.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(44) {
  -webkit-transform: rotateY(172deg);
          transform: rotateY(172deg);
  color: #e500ff;
  -webkit-animation-delay: 8.5s;
          animation-delay: 8.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(45) {
  -webkit-transform: rotateY(176deg);
          transform: rotateY(176deg);
  color: #ff00fb;
  -webkit-animation-delay: 8.7s;
          animation-delay: 8.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(46) {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #ff00dd;
  -webkit-animation-delay: 8.9s;
          animation-delay: 8.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(47) {
  -webkit-transform: rotateY(184deg);
          transform: rotateY(184deg);
  color: #ff00bf;
  -webkit-animation-delay: 9.1s;
          animation-delay: 9.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(48) {
  -webkit-transform: rotateY(188deg);
          transform: rotateY(188deg);
  color: #ff00a1;
  -webkit-animation-delay: 9.3s;
          animation-delay: 9.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(49) {
  -webkit-transform: rotateY(192deg);
          transform: rotateY(192deg);
  color: #ff0084;
  -webkit-animation-delay: 9.5s;
          animation-delay: 9.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(50) {
  -webkit-transform: rotateY(196deg);
          transform: rotateY(196deg);
  color: #ff0066;
  -webkit-animation-delay: 9.7s;
          animation-delay: 9.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(51) {
  -webkit-transform: rotateY(200deg);
          transform: rotateY(200deg);
  color: #ff0048;
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(52) {
  -webkit-transform: rotateY(204deg);
          transform: rotateY(204deg);
  color: #ff002b;
  -webkit-animation-delay: 10.1s;
          animation-delay: 10.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(53) {
  -webkit-transform: rotateY(208deg);
          transform: rotateY(208deg);
  color: #ff000d;
  -webkit-animation-delay: 10.3s;
          animation-delay: 10.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(54) {
  -webkit-transform: rotateY(212deg);
          transform: rotateY(212deg);
  color: #ff1100;
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(55) {
  -webkit-transform: rotateY(216deg);
          transform: rotateY(216deg);
  color: #ff2f00;
  -webkit-animation-delay: 10.7s;
          animation-delay: 10.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(56) {
  -webkit-transform: rotateY(220deg);
          transform: rotateY(220deg);
  color: #ff4d00;
  -webkit-animation-delay: 10.9s;
          animation-delay: 10.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(57) {
  -webkit-transform: rotateY(224deg);
          transform: rotateY(224deg);
  color: #ff6a00;
  -webkit-animation-delay: 11.1s;
          animation-delay: 11.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(58) {
  -webkit-transform: rotateY(228deg);
          transform: rotateY(228deg);
  color: #ff8800;
  -webkit-animation-delay: 11.3s;
          animation-delay: 11.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(59) {
  -webkit-transform: rotateY(232deg);
          transform: rotateY(232deg);
  color: #ffa600;
  -webkit-animation-delay: 11.5s;
          animation-delay: 11.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(60) {
  -webkit-transform: rotateY(236deg);
          transform: rotateY(236deg);
  color: #ffc300;
  -webkit-animation-delay: 11.7s;
          animation-delay: 11.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(61) {
  -webkit-transform: rotateY(240deg);
          transform: rotateY(240deg);
  color: #ffe100;
  -webkit-animation-delay: 11.9s;
          animation-delay: 11.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(62) {
  -webkit-transform: rotateY(244deg);
          transform: rotateY(244deg);
  color: yellow;
  -webkit-animation-delay: 12.1s;
          animation-delay: 12.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(63) {
  -webkit-transform: rotateY(248deg);
          transform: rotateY(248deg);
  color: #e1ff00;
  -webkit-animation-delay: 12.3s;
          animation-delay: 12.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(64) {
  -webkit-transform: rotateY(252deg);
          transform: rotateY(252deg);
  color: #c3ff00;
  -webkit-animation-delay: 12.5s;
          animation-delay: 12.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(65) {
  -webkit-transform: rotateY(256deg);
          transform: rotateY(256deg);
  color: #a6ff00;
  -webkit-animation-delay: 12.7s;
          animation-delay: 12.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(66) {
  -webkit-transform: rotateY(260deg);
          transform: rotateY(260deg);
  color: #88ff00;
  -webkit-animation-delay: 12.9s;
          animation-delay: 12.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(67) {
  -webkit-transform: rotateY(264deg);
          transform: rotateY(264deg);
  color: #6aff00;
  -webkit-animation-delay: 13.1s;
          animation-delay: 13.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(68) {
  -webkit-transform: rotateY(268deg);
          transform: rotateY(268deg);
  color: #4cff00;
  -webkit-animation-delay: 13.3s;
          animation-delay: 13.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(69) {
  -webkit-transform: rotateY(272deg);
          transform: rotateY(272deg);
  color: #2fff00;
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(70) {
  -webkit-transform: rotateY(276deg);
          transform: rotateY(276deg);
  color: #11ff00;
  -webkit-animation-delay: 13.7s;
          animation-delay: 13.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(71) {
  -webkit-transform: rotateY(280deg);
          transform: rotateY(280deg);
  color: #00ff0d;
  -webkit-animation-delay: 13.9s;
          animation-delay: 13.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(72) {
  -webkit-transform: rotateY(284deg);
          transform: rotateY(284deg);
  color: #00ff2b;
  -webkit-animation-delay: 14.1s;
          animation-delay: 14.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(73) {
  -webkit-transform: rotateY(288deg);
          transform: rotateY(288deg);
  color: #00ff48;
  -webkit-animation-delay: 14.3s;
          animation-delay: 14.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(74) {
  -webkit-transform: rotateY(292deg);
          transform: rotateY(292deg);
  color: #00ff66;
  -webkit-animation-delay: 14.5s;
          animation-delay: 14.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(75) {
  -webkit-transform: rotateY(296deg);
          transform: rotateY(296deg);
  color: #00ff84;
  -webkit-animation-delay: 14.7s;
          animation-delay: 14.7s;
}

/* line 65, sphere.scss */
.slice:nth-child(76) {
  -webkit-transform: rotateY(300deg);
          transform: rotateY(300deg);
  color: #00ffa2;
  -webkit-animation-delay: 14.9s;
          animation-delay: 14.9s;
}

/* line 65, sphere.scss */
.slice:nth-child(77) {
  -webkit-transform: rotateY(304deg);
          transform: rotateY(304deg);
  color: #00ffbf;
  -webkit-animation-delay: 15.1s;
          animation-delay: 15.1s;
}

/* line 65, sphere.scss */
.slice:nth-child(78) {
  -webkit-transform: rotateY(308deg);
          transform: rotateY(308deg);
  color: #00ffdd;
  -webkit-animation-delay: 15.3s;
          animation-delay: 15.3s;
}

/* line 65, sphere.scss */
.slice:nth-child(79) {
  -webkit-transform: rotateY(312deg);
          transform: rotateY(312deg);
  color: #00fffb;
  -webkit-animation-delay: 15.5s;
          animation-delay: 15.5s;
}

/* line 65, sphere.scss */
.slice:nth-child(80) {
  -webkit-transform: rotateY(316deg);
          transform: rotateY(316deg);
  color: #00e5ff;
  -webkit-animation-delay: 15.7s;
          animation-delay: 15.7s;
}

/*# sourceMappingURL=sphere.css.map */